body {
  /*background: linear-gradient(-45deg, #210242, #9198e5);*/
  /*background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);*/
  /*background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  */
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.g-recaptcha{
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .recaptcha{
    transform: scale(0.95);
    transform-origin: 0 0;
  }
}